body {
  margin: 0;
  font-family: "Mitr", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(19, 18, 18);
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

html {
  scroll-behavior: smooth;

}

::-webkit-scrollbar {
  display: none;
}

.App {
  cursor: url("./assets/cursor.png"), default;
}
